@import url(reset.css);
body {
  color: #000;
  background: #FFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt; }

h1 {
  font-size: 180%; }

h2 {
  font-size: 170%; }

h3 {
  font-size: 150%; }

h4 {
  font-size: 120%; }

h5 {
  font-size: 120%; }

h6 {
  font-size: 120%; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  color: #0b3e71;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #999; }

ul, ol, p {
  margin: 0.8em 0 0.8em 0; }

ul, ol ul, ol {
  margin: 0; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul, ol {
  list-style-position: outside;
  padding-left: 1.5em; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #999; }
table tr td, table tr th {
  border: 1px solid #999;
  padding: 0.2em 0.5em; }
table tr td.link, table tr th.link {
  padding: 0; }
table tr td.link a, table tr th.link a {
  margin: 0;
  padding: 0.2em 0.5em;
  display: block; }
table tr th {
  font-variant: small-caps; }

a, a:visited {
  color: #0B3E71;
  text-decoration: none; }
a:hover, a:active {
  color: #FFF;
  background: #0B3E71;
  text-decoration: none; }
a:active {
  background: #022763; }
a.img {
  background: transparent; }
div.img a {
  border: 1px solid #999;
  float: right;
  text-align: center;
  color: #000;
  background: #FFF;
  padding: 0.2em; }
div.img a img {
  display: block; }

img {
  vertical-align: middle; }

hr {
  background: #999;
  border: none;
  height: 1px; }

#header, #sidebar, #menu, .editlink, .backref, .hidden, .noprint {
  display: none !important; }

#footer {
  display: block;
  margin-top: 1em; }

.ref, .ref:visited, .ref:active, .ref:hover {
  vertical-align: super;
  font-size: 80%;
  color: #000; }

.date .ago {
  display: none !important; }
.date .full {
  display: inline !important; }

p.toc {
  padding: 0.5em; }
p.toc > ul {
  padding: 0; }
p.toc ul {
  margin: 0;
  list-style-type: none; }
p.toc .toc1 a, p.toc .toc1 .counter {
  font-weight: bold; }
