@import url(reset.css);
body {
  color: #000;
  background: #FFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt; }

h1 {
  font-size: 180%; }

h2 {
  font-size: 170%; }

h3 {
  font-size: 150%; }

h4 {
  font-size: 120%; }

h5 {
  font-size: 120%; }

h6 {
  font-size: 120%; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  color: #0b3e71;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #999; }

ul, ol, p {
  margin: 0.8em 0 0.8em 0; }

ul, ol ul, ol {
  margin: 0; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul, ol {
  list-style-position: outside;
  padding-left: 1.5em; }

table {
  background: #999;
  border-collapse: separate;
  border-spacing: 1px; }
table tr {
  background: #FFF; }
table tr td, table tr th {
  padding: 0.2em 0.5em; }
table tr td.link, table tr th.link {
  padding: 0; }
table tr td.link a, table tr th.link a {
  margin: 0;
  padding: 0.2em 0.5em;
  display: block; }
table tr th {
  font-variant: small-caps;
  background: #CCC;
  border: 1px solid #FFF; }
table tr.even {
  background: #EEF; }
table tr .header {
  background-image: url(static/images/table_bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  padding-right: 1.5em; }
table tr .headerSortUp {
  background-image: url(static/images/table_dsc.png); }
table tr .headerSortDown {
  background-image: url(static/images/table_asc.png); }
table.highlighttable {
  border: none;
  background: transparent;
  border-spacing: 0;
  border-collapse: collapse; }
table.highlighttable td, table.highlighttable th, table.highlighttable tr {
  border: none;
  padding: 0; }
table.highlighttable .linenos {
  color: #555; }

table.patch {
  border: 1px solid #999;
  border-collapse: collapse;
  border-spacing: 0;
  width: 70em;
  margin: 0.5em 0; }
table.patch tr td {
  background: #EEE;
  color: #777;
  width: 2em;
  padding: 0 0.3em;
  text-align: right;
  border-right: 1px solid #999; }
table.patch tr td.code, table.patch tr td.marker {
  background: #FFF;
  color: #000;
  text-align: left;
  width: auto;
  padding: 0 0.5em; }
table.patch tr td.marker {
  background: #EEE;
  color: #777; }
table.patch tr th {
  border: 1px solid #999;
  font-variant: normal;
  text-align: right;
  padding: 0.2em 0.5em; }
table.patch tr th.title {
  text-align: left; }
table.patch tr th.title .left {
  float: left; }
table.patch tr th.title .right {
  float: right; }
table.patch tr td {
  font-family: "Bitstream Vera Mono", monospace; }
table.patch tr td.plus {
  background: #CFC; }
table.patch tr td.minus {
  background: #FCC; }

a, a:visited {
  color: #0B3E71;
  text-decoration: none; }
a:hover, a:active, a:focus {
  color: #FFF;
  background: #0B3E71;
  text-decoration: none; }
a:active {
  background: #022763; }
a.img {
  background: transparent; }
div.img a {
  border: 1px solid #999;
  float: right;
  text-align: center;
  color: #000;
  background: #FFF;
  padding: 0.2em; }
div.img a img {
  display: block; }

.editlink {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  color: #999;
  float: right;
  margin-top: -1.5em;
  font-variant: normal;
  display: block;
  width: 100%;
  text-align: right; }

img {
  vertical-align: middle; }

hr {
  background: #999;
  border: none;
  height: 1px; }

#header {
  background: #0B3E71;
  background-image: url(static/images/header_bg1.png);
  background-repeat: repeat-x;
  background-position: top left;
  padding: 5px;
  clear: both;
  height: 2.5em; }
#header h1 {
  border: none;
  color: #FFFFC2;
  font-family: Georgia, serif;
  font-size: 200%;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0;
  padding: 0;
  float: left; }
#header #info {
  float: right;
  border: 1px solid #999;
  background: #FFFFC2;
  padding: 0.2em;
  margin: 0.3em; }
#header #search {
  float: right;
  border: none;
  right: 15em; }
#header #search input {
  margin: 0.3em;
  width: 10em;
  padding: 0.2em;
  padding-left: 20px;
  background-position: 0.2em 0.2em;
  background-repeat: no-repeat;
  background-image: url(static/images/search.png); }

#menu {
  background: #FFF;
  height: 1.7em;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-variant: small-caps; }
#menu ul {
  display: block;
  padding: 0;
  margin: 0;
  height: 1.7em;
  list-style-type: none;
  list-style-image: none;
  float: left; }
#menu ul.wiki {
  float: right;
  overflow: hidden; }
#menu ul li {
  float: left;
  padding: 0;
  margin: 0;
  height: 1.7em;
  line-height: 1.7em;
  border-right: 1px solid #999;
  color: #333; }
#menu ul li.title, #menu ul li.noborder {
  padding: 0 1em;
  color: #999; }
#menu ul li.title.noborder, #menu ul li.noborder.noborder {
  border: none; }
#menu ul li.breadcrumb {
  border: none; }
#menu ul li.breadcrumb a {
  padding: 0 0.3em; }
#menu ul li.breadcrumb.first a {
  padding-left: 1em; }
#menu ul li.breadcrumb.last {
  border-right: 1px solid #999; }
#menu ul li.breadcrumb.last a {
  padding-right: 1em; }
#menu ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 1em;
  color: #333; }
#menu ul li a:hover, #menu ul li a:focus {
  color: #FFF;
  background: #0B3E71; }
#menu ul li a:active {
  background: #022763; }
#menu ul li a.older:before {
  content: "\00ab\00a0"; }
#menu ul li a.newer:after {
  content: "\00a0\00bb"; }
#menu ul li a.home:before {
  float: left;
  padding-left: 16px;
  content: "\00a0";
  background: url(static/images/home.png) no-repeat center center; }
#menu ul li a.new:before {
  float: left;
  padding-left: 16px;
  content: "\00a0";
  background: url(static/images/new.png) no-repeat center center; }
#menu ul li a.source:before {
  float: left;
  padding-left: 16px;
  content: "\00a0";
  background: url(static/images/source.png) no-repeat center center; }
#menu ul li a.edit:before {
  float: left;
  padding-left: 16px;
  content: "\00a0";
  background: url(static/images/edit.png) no-repeat center center; }
#menu ul li a.history:before {
  float: left;
  padding-left: 16px;
  content: "\00a0";
  background: url(static/images/history.png) no-repeat center center; }
#menu ul li a.archive:before {
  float: left;
  padding-left: 16px;
  content: "\00a0";
  background: url(static/images/archive.png) no-repeat center center; }

#container {
  background-color: #FFFFCD;
  background-image: url(static/images/container_bg.png);
  background-repeat: repeat-y;
  background-position: top left; }
#container #body {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url(static/images/body_bg.png);
  background-repeat: repeat-x;
  background-position: top left; }
#container #body #content {
  min-height: 600px;
  padding: 1em 3.5em;
  display: block;
  float: left;
  width: 70%; }
#container #body #sidebar {
  margin: 0;
  padding: 0;
  width: 155px;
  display: block;
  float: left;
  height: 20em;
  font-variant: small-caps; }
#container #body #sidebar h1, #container #body #sidebar h2, #container #body #sidebar h3, #container #body #sidebar h4, #container #body #sidebar h5, #container #body #sidebar h6 {
  font-size: 140%;
  background: #FFF;
  font-weight: normal;
  padding: 0 5px;
  margin: 1em 0 0 0;
  border-top: 1px solid #85AAFF;
  border-bottom: 1px solid #85AAFF;
  display: block; }
#container #body #sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
#container #body #sidebar ul li {
  margin: 0;
  border-bottom: 1px solid #85AAFF; }
#container #body #sidebar ul li a {
  padding: 0 5px;
  margin: 0;
  display: block; }
#container #body #sidebar ul li:active {
  text-indent: 3px; }
#container #body #sidebar ul ul a {
  padding: 0 20px; }
#container #body #sidebar ul ul ul a {
  padding: 0 35px; }
#container #footer {
  color: #555;
  background-image: url(static/images/footer_bg.png);
  background-repeat: repeat-x;
  background-position: top left;
  padding: 2em 3em 0 3em;
  text-align: right;
  line-height: 2em;
  clear: both; }

.sha, tt, pre, code, kbd {
  font-family: "Bitstream Vera Mono", monospace; }

pre {
  border: 1px solid #999;
  padding: 1em 0.5em;
  background: #FFF;
  min-width: 60%;
  white-space: pre;
  display: block; }

.history .sha {
  font-size: 8pt; }

.tree, .history {
  width: 100%; }

.error {
  color: #A00; }

.ref {
  vertical-align: super;
  font-size: 80%; }

.backref:before {
  content: "\2191"; }

form {
  display: inline; }
form button, form label, form input, form select, form textarea, form pre {
  display: block;
  float: left;
  margin: 0.3em 0.5em 0.3em 0;
  padding: 2px;
  border: 1px solid #999;
  background: #FFF;
  color: #333; }
form button:focus, form label:focus, form input:focus, form select:focus, form textarea:focus, form pre:focus {
  border-style: dotted; }
form.inline * {
  float: none;
  display: inline;
  margin: 0;
  padding: 0; }
form.inline button {
  border: none;
  background: none; }
form label, form strong {
  border: none;
  background: none;
  width: 8em;
  float: left;
  display: block;
  white-space: nowrap; }
form input[type=text], form textarea {
  font-family: "Bitstream Vera Mono", monospace;
  font-size: 100%; }
form textarea {
  width: 98%; }
form input[type=image], form input[type=image]:focus, form input[type=checkbox] {
  border: none;
  background: none; }
form input[type=hidden] {
  display: none; }
form br {
  clear: left; }

table input {
  margin: 0; }

.preview {
  border: 1px dashed #999;
  margin: 1em 0;
  padding: 1em; }

.box {
  clear: both;
  display: block;
  border: 1px solid #999;
  background: #FFF;
  padding: 0.5em 1em;
  margin: 1em 0;
  overflow: hidden; }
.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
  margin: 0.2em 0; }

.ui-tabs .ui-tabs-hide {
  display: none; }
.ui-tabs > ul {
  display: block;
  padding: 0;
  margin: 0 0 1px 0;
  height: 1.7em;
  list-style-type: none;
  float: left;
  width: 100%; }
.ui-tabs > ul > li {
  font-variant: small-caps;
  background: #EEF;
  float: left;
  padding: 0;
  margin: 0 0 0 1em;
  height: 1.7em;
  line-height: 1.7em;
  border: 1px solid #999;
  color: #333; }
.ui-tabs > ul > li.ui-tabs-selected > a {
  background: #FFF;
  border-bottom: 1px solid #FFF; }
.ui-tabs > ul > li > a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 1em;
  color: #333; }
.ui-tabs > ul > li > a:hover, .ui-tabs > ul > li > a:focus {
  color: #FFF;
  background: #0B3E71; }
.ui-tabs > ul > li > a:active {
  background: #022763; }

.hidden {
  display: none !important; }

.date {
  cursor: pointer; }

a[accesskey]:focus:after, a[accesskey]:hover:after {
  content: " [" attr(accesskey) "] " !important;
  font-size: 80%; }

.toc {
  background: #FFF;
  border: 1px solid #999;
  padding: 0.5em 1em;
  margin: 1em 0; }
.toc > ul {
  padding: 0; }
.toc ul {
  margin: 0;
  list-style-type: none; }
.toc .toc1 a, .toc .toc1 .counter {
  font-weight: bold; }

body.timemachine #header {
  background-image: url(static/images/header_bg2.png);
  background-repeat: repeat-x;
  background-position: top left; }
body.timemachine #header h1.timemachine {
  font-style: italic;
  margin-left: 1em;
  color: #D70; }
body.timemachine #container {
  background-color: #EEE; }
body.timemachine tr.even {
  background: #DDD; }
