{% extends "base.html" %}

{% block content %}

<h1>&#8730;&#175; Root</h1>
<table class="tree zebra">
<thead>
<tr>
<th>Name</th>
<th>Last modified</th>
<th>Author</th>

<th>Message</th>
<th>Actions</th>
</tr>
</thead>
<tbody>


{% for file in data_for_index %}

<tr>
<td class="link"><a style="padding-left: 0px" href="/{{ file.filename }}/{{ file.id }}" title="Open">{{ file.filename }}</a></td>
<td><span class="date seconds_1246568822">{{ file.date }}</span></td>
<td>{{ file.author }}</td>
<td>{{ file.message }}</td>

<td>
<a href="/icons/archive" title="Archive"><img src="/static/images/archive.png" alt="Archive"/></a>
<a href="/icons/history" title="History"><img src="/static/images/history.png" alt="History"/></a>
</td>
</tr>

{% endfor %}

</tbody>
</table>

{% endblock content %}
